<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju">
    <meta name="author" content="Online Photo Printing">
    <meta name="keywords" content="">

    <title>
        Obaju - Home
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="../static/font-awesome.css" rel="stylesheet">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/animate.min.css" rel="stylesheet">
    <link href="../static/owl.carousel.css" rel="stylesheet">
    <link href="../static/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="../static/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="../static/custom.css" rel="stylesheet">

    <script src="../static/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>

    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    {% if logged_in == True %}
                        <li><a href="/myaccount">Hi {{ name }} ! </a>
                        </li>
                        <li><a href="/logout">Logout</a>
                        </li>
                    {% endif %}
                    {% if logged_in == False %}
                        <li><a href="/register">Login</a>
                        </li>
                        <li><a href="/register">Register</a>
                        </li>
                    {% endif %}
                    <li><a href="/contact">Contact</a>

                </ul>
            </div>
        </div>
    </div>

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="/" data-animate-hover="bounce">
                    <img src="../static/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="../static/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    {% if logged_in == True %}
                    <a class="btn btn-default navbar-toggle" href="\basket">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">Cart</span>
                    </a>
                    {% endif %}
                    {% if logged_in == False %}
                    <a class="btn btn-default navbar-toggle" href="\login">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">Cart</span>
                    </a>
                    {% endif %}
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/">Home</a>
                    </li>
                    <li class="active"><a href="/photos">Photos</a>
                    </li>
                    <li class="active"><a href="/products">Your Uploads</a>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                    {% if logged_in == True %}
                    <a href="/basket" class="btn btn-primary navbar-btn">
                            {% else %}
                                 <a href="/register" class="btn btn-primary navbar-btn">
                     {% endif %}
                    <i class="fa fa-shopping-cart"></i><span class="hidden-sm">Cart</span></a>
                </div>
                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <a href="/orders"><button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only"></span>
                        Orders
                    </button> </a>
                </div>

		    </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->



    <div id="all">

        <div id="content">

            <div class="container">
                <div class="col-md-12">
                    <div id="main-slider">
                        <div class="item">
                            <img src="../static/first.jpeg" alt="" class="img-responsive">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="../static/second.jpeg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="../static/third.jpeg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="../static/first.jpeg" alt="">
                        </div>
                    </div>
                    <!-- /#main-slider -->
                </div>
            </div>


        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2018 Obaju</p>

                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->

    </div>
    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="../static/jquery-1.11.0.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/jquery.cookie.js"></script>
    <script src="../static/waypoints.min.js"></script>
    <script src="../static/modernizr.js"></script>
    <script src="../static/bootstrap-hover-dropdown.js"></script>
    <script src="../static/owl.carousel.min.js"></script>
    <script src="../static/front.js"></script>


</body>

</html>